---
import { getCollection } from "astro:content";
import Card from "../components/CardPost.astro";
import MainLayout from "../layouts/MainLayout.astro";
import PageImage from "../components/PageImage.astro";

export const prerender = true;

const allPosts = (
  await getCollection("posts", ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true
  )
).sort((a, b) => a.id.localeCompare(b.id));

const pageTitle = "Posts";
---

<MainLayout pageTitle={pageTitle}>
  <PageImage img="posts" imgAlt="posts logo" />
  <h2>Blog</h2>
  <ul role="list" class="link-card-grid">
    {
      allPosts.map((cardPost) => (
        <Card
          url={`/posts/${cardPost.id}`}
          image={`/posts/${cardPost.id}.webp`}
          title={cardPost.data.title}
          date={cardPost.data.date}
        />
      ))
    }
  </ul>
</MainLayout>
