---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = (await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})).sort((a,b) => a.id.localeCompare(b.id))
const pageTitle = "Posts";

---

<Layout pageTitle={pageTitle}>
  <div class="page-image">
    <img width="500" alt="blog-logo" src="/blog.png" />
  </div>
  <h2>Blog</h2>
  <ul role="list" class="link-card-grid">
    {
      allPosts.map((cardPost) => (
        <Card
          url={`/posts/${cardPost.id}`}
          image={`/posts/${cardPost.id}.png`}
          title={cardPost.data.title}
          date={cardPost.data.date}
        />
      ))
    }
  </ul>
</Layout>
