---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout pageTitle={frontmatter.title}>
  <h2 style="text-decoration:none;">{frontmatter.title}</h2>
  <ul class="badge__list">
    <li>
      <span class="badge badge--item">PUBLISHED</span>{frontmatter.date.toDateString()}
    </li>
    <li>
      <span class="badge badge--item">POST #{frontmatter.post}</span>
    </li>
    <li>
      {frontmatter.tags.map((tag) => <span class="badge badge--item tag">#{tag}</span>)}
    </li>
  </ul>
  <div class="page-image">
    <img width="400" alt={frontmatter.image.alt} src={`/posts/post-${frontmatter.post}.png`} />
  </div>
  <slot />
</MainLayout>
